
// 


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    // padding: 250px 100px 250px 100px;
    // background-color: aqua;
    // height: 100 px;
}

.container0 {
    background-image: url('../img/Greyish.png');
}