/* tag selector */

h1 {
    color: green;
}

p {
    color: cyan;
}

/* #id selector */

#second-header {
    color: red;
}

/* .class selector */
.royal-paragraph {
    color: brown;
}

/* pseudo selector (state of a element)*/
a:hover {
    color: maroon;
}

/* combination selector */
ol li:last-child {
    font-size: 24px;
    border-bottom: 2px solid grey; 
}
/* 
.Habbits li:last-child {
    font-size: 24px;
} */

 /* will have to keep adding this class into the list
.bottom-border {
    border-bottom: 2px solid grey; */
}

/* last-child = So think as ol element as the parent, the li element is the child. 
So you are selecting the last child, or the last li */

/* attribute selector */
[href='/'] {
    color: blueviolet;
 }

/* css */
ul {
    color:chartreuse
 }

ul li:first-child {
    color: red;
 }

  
  